{{page-title "EmbroiderCsvParseTest"}}

<button role="button" type="button" {{on "click" this.runExample}}>Test parser</button>

<strong>Records</strong>
<pre>
  {{#each this.records as |rec i|}}
    Record {{i}}:
      {{#each rec as |field|}}{{field}}{{if (eq field rec.lastObject) "" ","}}{{/each}}

  {{/each}}
</pre>

{{outlet}}
