{{page-title "EmbroiderCsvParseTest"}}

<button role="button" type="button"
  {{on "click" this.runExample}}
  data-test-id="run-example-button"
>Test parser</button>

<strong>Records</strong>
<ul data-test-id="output">
  {{#each this.records as |rec i|}}
    <li>Record {{i}}:
      {{#each rec as |field|}}<span class="field">{{field}}</span>{{if (eq field rec.lastObject) "" ","}}{{/each}}
    </li>
  {{/each}}
</ul>

{{outlet}}
